/* 
    Document   : default
    Created on : 15.11.2012, 15:44:51
    Author     : nico
    Description:
        Purpose of the stylesheet follows.
*/

.ui-widget,
.ui-widget .ui-widget
{
    font-size: 90% !important;
}

.width20perc
{
    vertical-align: top; 
    min-width: 13em;
}

.width50perc
{
    width: 50%;
    vertical-align: top;
    min-width: 30em;
}

.width50perc table
{
    width: 100%;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 4px 4px 4px 4px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.width30perc
{
    width: 40%;
    max-width: 200px;
}

.datasetsWidth
{
    max-width: 450px;
}

.inputTextWidth
{
    width: 20em;
}

.oddrow
{
    background-color: #C3DEE3;
}

.evenrow
{
    background-color: #FFFFFF;
}


#exampleMenu
{
    height: 100%;
}
